@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Roboto&display=swap');

:root{
    --primary-color: #17255A;
    --secondary-color: #273043;
    --tertiary-color: #03CEA4;
    --color-warn: #EAC435;
    --color-brown: #2D1E2F;
    --color-orange: #F5772F;
   
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Nunito', sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: auto;
  font-family: var(--primary-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Constants */
.bg-primary{
  background-color: var(--primary-color)
 }
 .bg-secondary{
   background-color: var(--secondary-color);
 }
 .bg-tertiary{
   background-color: var(--tertiary-color);
 }
 .bg-default{
   background-color: #eee;
 }
 .bg-warn{
   background-color: var(--color-warn);
 }
 .bg-brown{
    background-color: var(--color-brown);
 }
 .bg-orange{
   background-color: var(--color-orange);
 }
 .text-light{
   color: #f4f4f4
 }
 .text-default{
  color: #eee
 }
 .text-primary{
   color: var(--primary-color)
 }
 .text-tertiary{

   color: var(--tertiary-color)
 }
 .text-secondary{
   color: var(--secondary-color)
 }
 .font-primary{
   font-family: var(--primary-font)
 }
 .font-secondary{
   font-family: var(--secondary-font)
 }
 .text-orange{
   color: var(--color-orange)
 }
 .heading{
   font-size: 2.5em;
   padding: 20px 0px;
   font-weight: 900;
 }
 .heading1{
  font-size:  2.125em;
  padding: 20px 0px
}
.heading2{
  font-size: 1.5;
  padding: 20px 0px
}
.heading3{
  font-size: 1.0625em;
  padding: 20px 0px
}
.mb-5{
  margin-bottom: 50px
}

.btn-link{
  font-size: 15px;
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 1.25px;
  text-transform: uppercase;
}
.btn-links{
  font-size: 15px;
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 1.25px;
  text-transform: uppercase;
}
.btn-bordered{
  border: 1px solid var(--primary-color);
  padding: 10px 20px;
  text-decoration: none
}

.p{

  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.15000000596046448px;
  text-align: left;

}
.section{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(22.813rem, 1fr));
   justify-items: center;
   align-items: center;
   padding: 40px;
}
.land-section{

}
.section-column-2{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: end;
  align-items: center;
}
.section-column-4{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: flex-end;
  align-items: center;
}
.section-flex-space-between{
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  flex-direction: column;
  /* height: 50%; */
}

.section-col-4{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  /* align-items: center; */
  width: 100%;
}
.section-row-3{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: start;
  align-items: center

}
.grid-gap-20{
  grid-gap: 20px;
}
.grid-gap-50{
  grid-column-gap: 50px
}

 .section img{
   width: 100%
 }
 .section-column-2 img{
   width: 100%
 }
 .section-column-4 img{
   width: 100%;
 }

 .hero-section{
    display: grid;
    grid-template-columns:10% 1fr;
    justify-items: center;
    align-items: center;
    padding: 40px;
 }
 .profile{
    height: 452px;
    width: 452px;
    border-radius: 50%;
    position: relative;
  
 }
 .profile-dev{
    height: 338px;
    width: 338px;
    border-radius: 50%;
    position: relative;
  
 }
 .profile img{
   width: 100%;
   height: 100%;
   border-radius: 50%;
 }
 .profile-dev img{
   width: 100%;
   height: 100%;
   border-radius: 50%;
 }

/* MENU STYLES */
.menu-wrap {
  position: fixed;
  top: 5%;
  left: 95%;
  z-index: 1;
  display: none
}

.menu-wrap .toggler{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hamburger Line */
.menu-wrap .hamburger > div {
  position: relative;
  flex: none;
  width: 100%;
  height: 2px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

/* Hamburger Lines - Top & Bottom */
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

/* Moves Line Down */
.menu-wrap .hamburger > div::after {
  top: 10px;
}

/* Toggler Animation */
.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

/* Turns Lines Into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

/* Rotate On Hover When Checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}

/* Show Menu */
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: 0.75s;
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition:  opacity 0.4s ease 0.4s;
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .menu > div {
  background: var(--secondary-color);
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}
.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}
.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
}
.h4{
  font-family: var(--primary-font);
  font-size: 34px;
  font-weight: 900;
  line-height: 37px;
  letter-spacing: 0.25px;
  text-align: left;
  color: var(--primary-color);
  }
.h5{
  font-family: var(--primary-font);
  font-size: 24px;
  font-weight: 900;
  line-height: 26px;
  text-align: left;
  color: var(--primary-color);
}

.heading-large{
    font-family: var(--primary-font);
    font-size: 60px;
    font-style: normal;
    font-weight: 900;
    line-height: 66px;
    letter-spacing: -0.5px;
    text-align: left;
    color: var(--primary-color);
    height: 132px;
    width: 490px;
    left: 800px;
    top: 3875px;
}
.main-section{
    height: '780px';
    width: '100%';
    margin-left: '0px';
    display: 'grid';
    grid-template-columns: '1fr 1fr';
    position: 'relative';
    padding: '70px';
    justify-items: 'center';
    align-items: 'center';
    grid-gap: '20px'
}

.d-none{
  display: none
}

.h3{
    font-family: 'var(--primary-font)';
    font-size: '40px';
    font-weight: '900';
    line-height: '44px';
    letter-spacing: '0em';
    text-align: 'left';
    height: '44px';
    width: '550px';
}

/* Footer Styles */
.btn{
  padding: 10px 20px;
  font-family: var(--primary-color);
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 1.25px;
  text-align: left;
}
.footer{
  display: grid;
  grid-template-columns: 1fr 8fr;
  height: 306px;
  width: 100%;
  left: 82px;
  top: 0px;
  align-items: center;
  justify-items: center;
  padding-left: 40px;
  grid-gap: 50px
}
.footer-main{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-items: center;
  padding: 40px
}
.footer-desc{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}
.main-footer{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  height: 565px;
  padding: 100px 50px;
  grid-column-gap: 10px;
}
ul{
  list-style-type: none;
}
.nav ul{
  list-style-type: none;
}
.nav > ul > li{
  display: inline;
  padding: 20px;

}
.nav > ul > li > a{
    font-family: var(--secondary-font);
    color: #eeeeee;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    font-size: 15px;
    text-align: center;
}
.circle{
  height: 250px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: left;
  border-radius: 50%;
  box-shadow: 4px 4px 40px #333;
  z-index: 1;
  margin-left: 20px
}
.learnableHero{
  background:linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url('/images/Rectangle 4 (3).jpg');
  height: 460px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}
.tiny-circle{
  height:56px;
  width: 56px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.text-grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  
}
.text-grid-card{
  height: 339px;
  width: 310px;
  padding: 38px 28px 48px
}
.image-grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.image-grid-3{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 20px;
}
.image-grid-3 figcaption{
  width: 152.62px
}
.faq{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.faq > ul{
  width: 500px
}
.faq > ul > li{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding: 20px;
}
footer{
  display: flex;
  justify-content: center;;
  align-items: center;
  flex-direction: column;
}
footer > .copyrights{
  display: flex;
  justify-content: space-between;
  width: 330px;
  padding: 20px

}
footer .social-icons{
  display: flex;
  justify-content: space-between;
  width: 250px
}
footer .social-icons .fa{
  font-size: 1.5rem;
  color: var(--primary-color)
}
.copyrights .endDiv{
  font-family: var(--secondary-font);
  color: var(--primary-color);
  text-transform: uppercase;
 
}
#secondary-nav{
    height: 48px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#home-disc{
  display: flex;
  justify-content: space-between
}
#home-desc-p{
  margin-left: 30px;
  margin-top:-100px;
  
}

/* Responsive Designs */
#land-hero-sm{
  display: none;
}
#land-desc-sm{
  display: none;
}
#sec-footer{
  height: '306px';
  padding: '0px'
}
#learnable-sec-sm, #codeville-sm{display: none}
#agora-img-sm, #journal-sm{display: none}
.subscribe{
  border: none;
  border-bottom: 1px solid var(--primary-color);
  background: transparent;
  outline: none;
  color: var(--primary-color);
  font-family: var(--secondary-font)
}
.footer-links ul{
  display: flex; 
  flex-direction: column;
  justify-content: space-between;
  height:200px
}
#othings-sm{
  display: none
}
#home-header{
  height: 242px;
  padding: 0px 60px
}
#home-main-heading{
  font-size: 96px;
}
#home-header-section{
  padding: 30px
}
#home-hero-sec{
  margin-top:150px
}
#home-num-sec{
  padding: 30px 150px 10px
}
.home-num-div{
  width: 134px
}
#home-profile-sm{
display: none
}
#home-learn-to h3{
  width:550px;
}
#text-grid-md{
  display: none;
}
#brand{
  display: flex;
  justify-content:space-between;
  align-items: center;
  height: 243px; 
  padding:50px;
}
 
/* responsive footer */
@media only screen and (max-width:768px){
    .menu-wrap{
        display: block;
    }
    section{
        display: grid;
        grid-template-columns: minmax(400px, 1fr);
    }

    /* // Landing Page Responsive */
    section #land-hero{display: none}
    #land-hero-sm{
      display: block;
      background-image: url('/images/Rectangle 36.jpg');
    }
    #land-desc{display: none}
    #land-desc-sm{display: block}
    #learnable-sec, #codeville, #othings, #home-profile{display: none}
    #learnable-sec-sm, #agora-sec, #startzone-sec{
      display: flex;
      text-align: center;
      flex-direction: column;
      justify-content: space-between;
    }
    #agora-img{display: none}
    #agora-img-sm, #codeville-sm, #othings-sm, #home-profile-sm{display: block;}
    #gen-img-div{
      display: grid;
      grid-template-columns: 1fr;
    }
    #othings-sm h3{
      font-size: 2.5rem;
      text-align: center
    }
    #best-team{
      text-align: center
    }
    #best-team p{
      text-align: center
    }


  /* Second footer Responsive */
    #sec-footer{
      display: flex;
      flex-direction: column;
      height: 100%
    }
    #to-top{
      display: none;
    }
    #sec-footer-main{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 600px;
      text-align: center;
      width: 100vw 

    }
    #sec-footer-main p{
      text-align: left;
      width: 100%
    }
    #sec-footer-main input{
      width: 100%
    }
    #sec-footer-main a{
      display: inline-block;
      margin-top: 30px
    }

    /* Footer Responsive */
    #main-footer{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      height: auto
    }
  .footer-links > ul > li{
    text-align: center
  }
  .btn-link{
    display: inline-block;
    margin: 30px auto;

  }
    #secondary-nav{
      display: none
    }

  /* Home Page Responsive */
  #home-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    height: auto;
    padding: 10px;
    width: 100%
  }
  #home-header div{
    margin: 10px auto;
  }
  #home-main-heading{
    font-size: 40px;
    text-align: center;
    width: 100%
  }
  #home-header-section{
    padding: 0px;
    display: grid;
    grid-template-rows: 1fr;
  }
  .empty-div{
    display: none
  }
#home-disc{
  display: flex;
  justify-content: space-between
}
#home-description{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: auto;
}
.circle{
  height: 170px;
  width: 170px;
  box-shadow: 4px 4px 10px #333;
  
}
#home-desc-p{
  margin-left: 30px;
  margin-top:10px;
  margin-bottom: 20px;
  text-align: center;
}

#home-hero-sec{
  margin-top: 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between
}
#hero-down-icon{
  display: none
}
#hero-sec{
  background:linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url('/images/Rectangle 4 (3).jpg');
}
#home-hero-sec{
  background-image: none
}
#home-num-sec{
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center

}
#home-num-div{
  width: 100%
}
#home-learn-exp{
  width: 100%
}
#home-learn-exp h3, #home-learn-exp p{
  text-align: center;
}
#home-learn-to{
  padding: 40px;
  text-align: center;
  width: 100%
}
#home-learn-to h3 , #home-learn-to p, #home-learn-to a{
  text-align: center;
}
#home-learn-to h3{
  width: 400px
}
.text-grid{
  
  display: grid;
  grid-template-columns: 1fr;
  width: 100%
  
}
.text-grid-card{

  height: 200px;
  width:100%;
  padding: 10px;
  
}
#p-sm{
  text-align: center
}
#for-des-sm{
  padding: 50px;
  /* display: flex;
  /* justify-content: space-between; */
  align-items: center;
  flex-direction: column; 
}

 
#for-des-sm p, #for-des-sm a{
  text-align: center;
  padding: 30px;
}
#for-des-sm h3{
  text-align: center;
}

#text-grid-sm{
  display: block;
  text-align: center
}
#eligibility{
  text-align: center;
  width: 550px;
}
#eligibility > div > p{
  text-align: center;
  padding: 20px;
  margin: 10px
}
#home-our-culture{
  text-align: center
}
#home-our-culture p{
  text-align: center
}
#fun-learn, #fun-learn p{
  text-align: center
}
#expert-sec, #class-learn, #apply, #apply p{
  text-align: center
}
#journal{
  display: grid;
  grid-template-columns: 1fr;

}
#journal-md{
  display: none
}
#journal-sm{
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
}
#brand{
  display: flex;
  justify-content:space-between;
  align-items: center;
  height: 243px; 
  padding:50px;
  flex-direction: column;
  margin-bottom: 100px
  
}
#brand > div{
  margin-bottom: 20px
}









  





  }
    

