@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Roboto&display=swap');

:root{
    --primary-color: #17255A;
    --secondary-color: #273043;
    --tertiary-color: #03CEA4;
    --color-warn: #EAC435;
    --color-brown: #2D1E2F;
    --color-orange: #F5772F;
   
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Nunito', sans-serif;

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: auto;
  font-family: var(--primary-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Constants */
.bg-primary{
  background-color: var(--primary-color)
 }
 .bg-secondary{
   background-color: var(--secondary-color);
 }
 .bg-tertiary{
   background-color: var(--tertiary-color);
 }
 .bg-default{
   background-color: #eee;
 }
 .bg-warn{
   background-color: var(--color-warn);
 }
 .bg-brown{
    background-color: var(--color-brown);
 }
 .bg-orange{
   background-color: var(--color-orange);
 }
 .text-light{
   color: #f4f4f4
 }
 .text-default{
  color: #eee
 }
 .text-primary{
   color: var(--primary-color)
 }
 .text-tertiary{

   color: var(--tertiary-color)
 }
 .text-secondary{
   color: var(--secondary-color)
 }
 .font-primary{
   font-family: var(--primary-font)
 }
 .font-secondary{
   font-family: var(--secondary-font)
 }
 .heading{
   font-size: 2.5em;
   padding: 20px 0px
 }
 .heading1{
  font-size:  2.125em;
  padding: 20px 0px
}
.heading2{
  font-size: 1.5;
  padding: 20px 0px
}
.heading3{
  font-size: 1.0625em;
  padding: 20px 0px
}
.mb-5{
  margin-bottom: 50px
}

.btn-link{
  font-size: 15px;
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 1.25px;
  text-transform: uppercase;
}
.btn-bordered{
  border: 1px solid var(--primary-color);
  padding: 10px 20px;
  text-decoration: none
}

.p{
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.15000000596046448px;
  text-align: left;

}
.section{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
   justify-items: center;
   align-items: center;
   padding: 40px;
}
.section-column-2{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: end;
  align-items: center;
}
.section-column-4{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: flex-end;
  align-items: center;
}
.section-flex-space-between{
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  flex-direction: column;
  /* height: 50%; */
}

.section-col-4{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  /* align-items: center; */
  width: 100%;
}
.section-row-3{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: start;
  align-items: center

}
.grid-gap-20{
  grid-gap: 20px;
}
.grid-gap-50{
  grid-column-gap: 50px
}

 .section img{
   width: 100%
 }
 .section-column-2 img{
   width: 100%
 }
 .section-column-4 img{
   width: 100%;
 }

 .hero-section{
    display: grid;
    grid-template-columns:10% 1fr;
    justify-items: center;
    align-items: center;
    padding: 40px;
 }
 .profile{
    height: 452px;
    width: 452px;
    border-radius: 50%;
    position: relative;
  
 }
 .profile img{
   width: 100%;
   height: 100%;
   border-radius: 50%;
 }

/* MENU STYLES */
.menu-wrap {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
}

.menu-wrap .toggler {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hamburger Line */
.menu-wrap .hamburger > div {
  position: relative;
  flex: none;
  width: 100%;
  height: 2px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

/* Hamburger Lines - Top & Bottom */
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

/* Moves Line Down */
.menu-wrap .hamburger > div::after {
  top: 10px;
}

/* Toggler Animation */
.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

/* Turns Lines Into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

/* Rotate On Hover When Checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}

/* Show Menu */
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: 0.75s;
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition:  opacity 0.4s ease 0.4s;
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .menu > div {
  background: var(--secondary-color);
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}
.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}
.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
}
.h4{
  font-family: var(--primary-font);
  font-size: 34px;
  font-weight: 900;
  line-height: 37px;
  letter-spacing: 0.25px;
  text-align: left;
  color: var(--primary-color);
  }
.h5{
  font-family: var(--primary-font);
  font-size: 24px;
  font-weight: 900;
  line-height: 26px;
  text-align: left;
  color: var(--primary-color);
}

.heading-large{
    font-family: var(--primary-font);
    font-size: 60px;
    font-style: normal;
    font-weight: 900;
    line-height: 66px;
    letter-spacing: -0.5px;
    text-align: left;
    color: var(--primary-color);
    height: 132px;
    width: 490px;
    left: 800px;
    top: 3875px;
}
.main-section{
    height: '780px';
    width: '100%';
    margin-left: '0px';
    display: 'grid';
    grid-template-columns: '1fr 1fr';
    position: 'relative';
    padding: '70px';
    justify-items: 'center';
    align-items: 'center';
    grid-gap: '20px'
}



.h3{
    font-size: 'var(--primary-font)';
    font-size: '40px';
    font-weight: '900';
    line-height: '44px';
    letter-spacing: '0em';
    text-align: 'left';
    height: '44px';
    width: '550px';
}

/* Footer Styles */
.btn{
  padding: 10px 20px;
  font-family: var(--primary-color);
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 1.25px;
  text-align: left;
}
.footer{
  display: grid;
  grid-template-columns: 1fr 8fr;
  height: 306px;
  width: 100%;
  left: 82px;
  top: 0px;
  align-items: center;
  justify-items: center;
  padding-left: 40px
}
.footer-main{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-items: center;
  padding: 40px
}
.footer-desc{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}
.main-footer{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

.nav ul{
  list-style-type: none;
}
.nav > ul > li{
  display: inline;
  padding: 20px;

}
.nav > ul > li > a{
    font-family: var(--secondary-font);
    color: #eeeeee;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    font-size: 15px;
    text-align: center;
}
.circle{
  height: 250px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: left;
  border-radius: 50%;
  box-shadow: 4px 4px 40px #333;
  z-index: 22
}
.learnableHero{
  background:linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url('/images/Rectangle 4 (3).jpg');
  height: 460px;
  background-size: no-repeat;
  background-size: cover;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}
.tiny-circle{
  height:56px;
  width: 56px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.text-grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  
}
.text-grid-card{
  height: 339px;
  width: 310px;
  padding: 38px 28px 48px
}
.image-grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.image-grid-3{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 20px;
}
.image-grid-3 figcaption{
  width: 152.62px
}
.faq{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.faq > ul{
  width: 500px
}
.faq > ul > li{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding: 20px
}